body {
    height: 100%;
    width: 100%;
    margin: 0;
}
#header {
    height: 65px;
    background-color: aqua;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#header>div {
    margin-top: 9px;
    display: flex;
    justify-content: space-around;
}
#header>div>p {
    width: 100px;
}
.alivio {
    color: #01996D;
    text-align: center;
}
.alivio>p {
    font-size: 1.5rem;
    margin-top: 10px;
}
.front {
    color: #01996D
}
.start {
    height: 50px;
    width: 170px;
    background-color: #01996D;
}
.start>p {
    color: aliceblue;
}
div>p {
    display: flex;
    justify-content: center;
    cursor: pointer;
}
#container {
    position: relative;
}
#container>img {
    height: 810px;
    width: 1680px;

}
.all {
    height: 450px;
    width: 380px;
    position: absolute;
    top: 200px;
    left: 300px;
}
.all>div {
    display: flex;
    justify-content: center;
}
.aware>p {
    color: #01996D;
    font-size: 50px;
}
.be_aware>p {
    color: #01996D;
    font-size: 20px;
}
.first {
    width: 170px;
    height: 50px;
    background-color: #01996D;
}
#footer {
    width: 100%;
    height: 65px;
    background-color: aqua;
    bottom: 0;
    position: absolute;
}
#footer>div {
    display: flex;
    justify-content: space-around;
    margin-top: 12px;

    color: #01996D;
}